<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giraffe Rush</title>
    <link rel="stylesheet" type="text/css" href="styles/crashGame.css">
    <link rel="icon" type="image/png" href="assets/crash/logo giraffe royale.png">
    <script src="https://unpkg.com/i18next@latest/i18next.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
    <div id="preloader" class="preloader">
        <img src="assets/crash/Preload.jpeg">
    </div>
    <header id="header">
        <div class="contentenedorVolverMain">
            <a href="/comprobarLobby">
                <img src="assets/header/home.png" class="home">
            </a>
            <a href="/comprobarLobby">
                <img src="assets/header/LOGO_GIRAFFE_ROYALE.png" class="logo">
            </a>
        </div>
        <h1 class="titulo">GIRAFFE ROYALE</h1>
        <div class="saldo">
            <h1 id="saldo" class="saldo">Saldo:0€</h1>
            <img src="assets/header/añadir.png" id="añadirSaldo">
        </div>
        <div class="horaYConfi">
            <h1 class="hora" id="hora"></h1>
            <img id="configuracion" src="assets/header/configuracion.png">
        </div>
    </header>
    <main class="contenedorPrincipal">
        <div class="contenedorTituloJuego">
            <h1 class="titulo">GIRAFFE RUSH</h1>
        </div>
        <div id="contenedorJuego" class="contenedorJuego">
            <img id="imagenGirafa" class="imagenGirafa" src="assets/crash/girafaEstatica.png"></img>
            <img id="imagenLeon" class="imagenLeon" src="assets/crash/leonEstatico.png"></img>
            <h1 id="multi" class="multi">0X</h1>
            <div class="footerJuego">
                <div class="iconosFoot">
                    <div class="btnCreditos-container">
                        <button id="creditos" class="creditos">Creditos</button>
                    </div>
                    <div class="container-footer-nav">
                        <div class="navegacionFooterJuego">
                            <img src="assets/crash/iconoInformacion.png" id="info" class="icoNavFoot">
                            <p id="creditosTexto">CREDITOS:</p>
                            <p id="creditosTotales" class="creditosApuesta">0</p>
                        </div>
                        <div class="navegacionFooterJuego">
                            <img src="assets/crash/sonido.png" id="sonido" class="icoNavFoot">
                            <p id="apuestaTexto">APUESTA:</p>
                            <p id="apuesta" class="creditosApuesta">20</p>
                        </div>
                    </div>
                </div>
                <div class="textoTragaperras">
                    <h1 id="textoTragaperras">¡TIRE PARA GANAR!</h1>
                </div>
                <div class="contenedorBotones">
                    <img src="assets/crash/disminuirApuesta.png" id="disminuirApuesta" class="iconoBtn">
                    <div class="jugar">
                        <img src="assets/crash/botonTirar.png" class="botonTirar" id="botonTirar">
                        <img src="assets/crash/historialTiradas.png" id="historialTiradasAbrir" class="iconoBtn">
                    </div>
                    <img src="assets/crash/aumentarApuesta.png" id="aumentarApuesta" class="iconoBtn">
                </div>
            </div>

            <div class="footerJuegoMovil">
                <div class="iconosFoot">
                    <div class="btnCreditos-container">
                        <button id="creditos" class="creditos">Creditos</button>
                    </div>
                    <div class="container-footer-nav">
                        <div class="navegacionFooterJuego">
                            <img src="assets/crash/iconoInformacion.png" id="info" class="icono">
                            <p id="creditosTexto">CREDITOS:</p>
                            <p id="creditosTotales" class="creditosApuesta">0</p>
                        </div>
                        <div class="navegacionFooterJuego">
                            <img src="assets/crash/sonido.png" id="sonido" class="icono">
                            <p id="apuestaTexto">APUESTA:</p>
                            <p id="apuesta" class="creditosApuesta">20</p>
                        </div>
                    </div>
                </div>
                <div class="textoTragaperras">
                    <h1 id="textoTragaperras">¡TIRE PARA GANAR!</h1>
                </div>
                <div class="contenedorBotones">
                    <img src="assets/crash/disminuirApuesta.png" id="disminuirApuesta" class="iconoBtn">
                    <div class="jugar">
                        <img src="assets/crash/botonTirar.png" class="botonTirar" id="botonTirar">
                        <img src="assets/crash/historialTiradas.png" id="historialTiradasAbrir" class="iconoBtn">
                    </div>
                    <img src="assets/crash/aumentarApuesta.png" id="aumentarApuesta" class="iconoBtn">
                </div>
            </div>

            <div id="modalSonidoPantalla" class="modalSonidoPantalla">
                <div id="modalSonido" class="modalSonido">
                    <img id="iconoSonidoModal" src="assets/crash/sonidoMuteRojo.png">
                    <input type="range" id="barraVolumen" class="barraVolumen" min="0" max="100" value="100">
                    <span id="valorVolumen" class="valorVolumen">100</span>
                </div>
            </div>
        </div>
        

        <div id="modalDepositar" class="modal">
            <div class="contenidoModal">
                <span id="cerrarModalDepositar" class="cerrarModal">&times;</span>
                <div id="depositar" class="depositarYRetirar">
                    <h1 id="depositarTitulo">DEPOSITAR</h1>
                    <input type="number" id="inputDeposito" class="inputModal"
                        placeholder="Introduce la cantidad que deseas depositar">
                    <div class="botonesModal">
                        <button id="depositarBtn" class="botonModal">Depositar</button>
                        <button id="abrirModalRetirar" class="botonModal">Retirar</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalRetirar" class="modal">
            <div class="contenidoModal">
                <span id="cerrarModalRetirar" class="cerrarModal">&times;</span>
                <div id="retirar" class="depositarYRetirar">
                    <h1 id="retirarTitulo">RETIRAR</h1>
                    <input type="number" id="inputRetiro" class="inputModal"
                        placeholder="Introduce la cantidad que deseas retirar">
                    <div class="botonesModal">
                        <button id="retirarBtn" class="botonModal">Retirar</button>
                        <button id="abrirModalDepositar" class="botonModal">Depositar</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalDepositarCreditos" class="modal">
            <div class="contenidoModal">
                <span id="cerrarModalDepositarCreditos" class="cerrarModal">&times;</span>
                <div id="depositarCreditos" class="depositarYRetirar">
                    <h1 id="insertarCreditosTitulo">CONVERTIR EUROS A CREDITOS</h1>
                    <h1 id="saldoCreditosInfo" class="saldoCreditosInfo">Saldo actual:0€</h1>
                    <input type="number" id="inputEurosACreditos" class="inputModal"
                        placeholder="Introduce la cantidad de euros que deseas convertir a creditos">
                    <div class="botonesModal">
                        <button id="convertirBtn" class="botonModal">Convertir a creditos</button>
                        <button id="abrirModalRetirarCreditos" class="botonModal">Retirar creditos</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalRetirarCreditos" class="modal">
            <div class="contenidoModal">
                <span id="cerrarModalRetirarCreditos" class="cerrarModal">&times;</span>
                <div id="retirarCreditos" class="depositarYRetirar">
                    <h1 id="retirarCreditosTitulo">CONVERTIR CREDITOS A EUROS</h1>
                    <h1 id="creditosInfo" class="saldoCreditosInfo">Creditos actuales:0</h1>
                    <input type="number" id="inputRetiroCreditos" class="inputModal"
                        placeholder="Introduce la cantidad de creditos que deseas convertir a euros">
                    <div class="botonesModal">
                        <button id="retirarCreditosBtn" class="botonModal">Retirar creditos</button>
                        <button id="abrirModalDepositarCreditos" class="botonModal">Convertir euros a creditos</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalError" class="modalError">
            <div class="contenidoModalError">
                <span id="cerrarModalError" class="cerrarModalError">&times;</span>
                <p id="mensajeError" class="mensajeError"></p>
            </div>
        </div>


        <div id="modalAjustes" class="modal">
            <div class="contenidoModal contenidoAjustesModal">
                <span id="cerrarModalAjustes" class="cerrarModalError">&times;</span>
                <h2 id="tituloAjustes">Ajustes</h2>
                <div class="opcionAjustes">
                    <h3 id="cambiarIdiomaTexto">Cambiar Idioma A Ingles:</h3>
                    <img id="idioma" src="assets/crash/iconoIngles.png" alt="Idioma" class="iconoAjustes">
                </div>
                <div class="opcionAjustes">
                    <h3 id="textoModoOscuro">Cambiar A Modo Oscuro:</h3>
                    <img src="assets/crash/modoOscuro.png" id="modoOscuro" alt="Modo Oscuro" class="iconoAjustes">
                </div>
            </div>
        </div>
        <div id="modalVictoria" class="modalVictoria">
            <div class="modalVictoriaContenido">
                <span id="cerrarModalVictoria" class="cerrarModalVictoria">&times;</span>
                <img src="assets/crash/premioHeader.png" class="premioHeader">
                <p id="modalVictoriaMensaje" class="mensajeVictoria">PREMIO</p>
                <img src="assets/crash/girafaPremios.png" class="girafaPremio">
            </div>
        </div>

        <div id="modalInstrucciones" class="tablaInstrucciones ">
            <span id="cerrarModalInstrucciones" class="cerrarModalError">&times;</span>

            <h2 id="tituloInstrucciones">Instrucciones del Juego</h2>
            <table class="tablaEstilos">
                <tr>
                    <th id="reglaColumna">Regla</th>
                    <th id="descripcionColumna">Descripción</th>
                </tr>
                <tr>
                    <td id="evitaLeonTitulo">Evita al León</td>
                    <td id="evitaLeonDescripcion">El león intentará atraparte. Si lo hace, pierdes el juego.</td>
                </tr>
                <tr>
                    <td id="retiraATiempoTitulo">Retira tus Ganancias</td>
                    <td id="retirarATiempoDescripcion">Puedes retirar las ganancias en cualquier momento para ganar el
                        multiplicador actual.</td>
                </tr>
                <tr>
                    <td id="multiplicadoresInformacionTitulo">Multiplicadores</td>
                    <td id="multiplicadoresInformacion">El multiplicador aumenta con el tiempo, pero si esperas
                        demasiado, corres el riesgo de perderlo todo.</td>
                </tr>
            </table>
        </div>
        <!-- Modal para mostrar el historial -->
        <div id="modalHistorial" class="tablaInstrucciones">
            <span id="cerrarModalHistorial" class="cerrarModalError">&times;</span>
            <h2 id="tituloHistorial">HISTORIAL DE TUS ULTIMAS 5 TIRADAS</h2>
            <table class="tablaEstilos">
                <thead>
                    <tr>
                        <th id="historialApuesta">Apuesta</th>
                        <th id="historialMulti">Multiplicador</th>
                        <th id="historialResultado">Creditos obtenidos</th>
                    </tr>
                </thead>
                <tbody id="tablaHistorialBody">
                    <!-- Las filas se agregarán dinámicamente con JavaScript -->

                </tbody>
            </table>
        </div>
    </main>

    

    <script src="scripts/crashGame.js"></script>
</body>

</html>