<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión en Giraffe Royale</title>
    <link rel="stylesheet" type="text/css" href="styles/general.css">
    <link rel="shortcut icon" href="assets/LOGO_GIRAFFE_ROYALE.png" type="image/x-icon">
</head>

<body>

    <div class="login">
        <img class="logo" src="assets/login/logo-login.png" alt="Logo Inicio">
        <div class="formulario">
            <h1>INICIAR SESIÓN</h1>
            <form th:action="@{/comprobarLogin}" method="get" class="inputs">
                <div class="usuario">
                    <img src="assets/login/User.png" alt="Icono Usuario">
                    <input type="text" placeholder="Nombre de Usuario" name="nombreUsuario" required>
                </div>
                <div class="contrasenia">
                    <img src="assets/login/Lock.png" alt="Icono Contraseña">
                    <input type="password" placeholder="Contraseña" name="pass" required>
                </div>
                <div class="container-iniciarSesion">
                    <button type="submit" class="btn-iniciarSesion">Iniciar Sesión</button>
                </div>

            </form>
        </div>
        <!-- Modal -->
        <div id="modal" class="modal" th:if="${mensajeError}">
            <div class="contenidoModal">
                <span class="cerrarModal">&times;</span>
                <p id="mensajeModal" th:text="${mensajeError}"></p>
            </div>
        </div>
        <div class="registrarse">
            <a href="/formularioRegistro">¿Aun no tienes una cuenta?<br />Registrarse</a>
        </div>
    </div>
</body>
<script src="scripts/login.js"></script>

</html>