<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/lobby.css">
    <title>Lobby-Giraffe Royale</title>
    <link rel="shortcut icon" href="assets/header/LOGO_GIRAFFE_ROYALE.png" type="image/x-icon">
    <script src="https://unpkg.com/i18next@latest/i18next.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div id="preloader" class="preloader">
        <div class="logo-container">
            <img src="assets/header/LOGO_GIRAFFE_ROYALE.png" class="logo_preloader">
            <div class="shadow"></div>
        </div>
    </div>
    <header id="header">
        <div class="contentenedorVolverMain">
            <a href="/lobby">
                <img src="assets/header/home.png" class="home">
            </a>
            <a href="/lobby">
                <img src="assets/header/LOGO_GIRAFFE_ROYALE.png" id="logoHeader" class="logo">
            </a>
        </div>
        <h1 class="titulo">GIRAFFE ROYALE</h1>
        <div class="saldo">
            <h1 id="saldo" class="saldo">Saldo:0€</h1>
            <img src="assets/header/aniadir.png" id="añadirSaldo">
        </div>
        <div class="horaYConfi">
            <h1 class="hora" id="hora"></h1>
            <img id="configuracion" src="assets/header/configuracion.png">
        </div>
    </header>

    <h1 class="encabezadoTitulo" id="juegosDestacados">JUEGOS DESTACADOS</h1>
    <section class="cards-container">
        <div class="cartas">
            <div class="card">
                <img src="assets/lobby/card-tragaperras.png" alt="tragaperras" id="tragaperras">
                <div class="card-overlay" id="abrirModalTragaperra">
                    <img src="assets/lobby/iconoInformacion.png" class="iconoAjustes" alt="info">
                </div>
            </div>

            <div class="card">
                <img src="assets/lobby/card-giraffer.png" alt="girafferush" id="giraffeRush">
                <div class="card-overlay" id="abrirModalJiraffe">
                    <img src="assets/lobby/iconoInformacion.png" class="iconoAjustes" alt="info">
                </div>
            </div>
        </div>
    </section>

    <div id="modalDepositar" class="modal">
        <div class="contenidoModal">
            <span id="cerrarModalDepositar" class="cerrarModal">&times;</span>
            <div id="depositar" class="depositarYRetirar">
                <h1 id="depositarTitulo">DEPOSITAR</h1>
                <input type="number" id="inputDeposito" class="inputModal"
                    placeholder="Introduce la cantidad que deseas depositar">
                <div class="botonesModal">
                    <button id="depositarBtn" class="botonModal">Depositar</button>
                    <button id="abrirModalRetirar" class="botonModal">Retirar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalRetirar" class="modal">
        <div class="contenidoModal">
            <span id="cerrarModalRetirar" class="cerrarModal">&times;</span>
            <div id="retirar" class="depositarYRetirar">
                <h1 id="retirarTitulo">RETIRAR</h1>
                <input type="number" id="inputRetiro" class="inputModal"
                    placeholder="Introduce la cantidad que deseas retirar">
                <div class="botonesModal">
                    <button id="retirarBtn" class="botonModal">Retirar</button>
                    <button id="abrirModalDepositar" class="botonModal">Depositar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalError" class="modalError">
        <div class="contenidoModalError">
            <span id="cerrarModalError" class="cerrarModalError">&times;</span>
            <p id="mensajeError" class="mensajeError"></p>
        </div>
    </div>
    <div id="modalAjustes" class="modal">
        <div class="contenidoModal contenidoAjustesModal">
            <span id="cerrarModalAjustes" class="cerrarModalError">&times;</span>
            <h2 id="tituloAjustes">Ajustes</h2>
            <div class="opcionAjustes">
                <h3 id="cambiarIdiomaTexto">Cambiar Idioma A Ingles:</h3>
                <img id="idioma" src="assets/crash/iconoIngles.png" alt="Idioma" class="iconoAjustes">
            </div>
            <div class="opcionAjustes">
                <h3 id="textoModoOscuro">Cambiar A Modo Oscuro:</h3>
                <img src="assets/crash/modoOscuro.png" id="modoOscuro" alt="Modo Oscuro" class="iconoAjustes">
            </div>
            <div class="opcionAjustes">
                <button class="cerrarSesionBtn">
                    <div class="sign"><svg viewBox="0 0 512 512">
                            <path
                                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                            </path>
                        </svg></div>

                    <a href="/cerrarSesion" id="cerrarSesion" class="text">Cerrar Sesión</a>
                </button>
            </div>
        </div>
    </div>

    <div id="modalTragaperra" class="modalInfo">
        <div class="contenidoModalInfo">
            <span class="cerrarModalError" id="cerrarModalTragaperra">&times;</span>
            <h2>🎰 Información del Juego</h2>
            <p><strong>📜 ¿Cómo jugar?</strong></p>
            <p>Haz girar los carretes usando el botón "Girar" o la barra espaciadora. Obtén combinaciones ganadoras y
                activa bonos especiales.</p>

            <p><strong>🏆 Multiplicadores y premios</strong></p>
            <p>Cada símbolo tiene diferentes valores y puede multiplicar tu apuesta. Durante los giros de bono, los
                premios aumentan.</p>

            <p><strong>🌍 Opciones del juego</strong></p>
            <p>Soporte para español e inglés, modo oscuro/claro y gestión de saldo.</p>

            <p><strong>⚠️ Reglas importantes</strong></p>
            <p>No se pueden realizar nuevas acciones mientras los carretes están girando. Verifica tu saldo antes de
                jugar.</p>
            <a href="https://youtu.be/yxrS1mAGhd4" target="_blank">
                <h2>Ver Tutorial</h2>
            </a>
        </div>
    </div>

    <div id="modalJiraffe" class="modalInfo">
        <div class="contenidoModalInfo">
            <span class="cerrarModalError" id="cerrarModalJiraffe">&times;</span>
            <h2>🦒 Giraffe Rush: Juego de Aventura</h2>

            <p><strong>📜 ¿Cómo jugar?</strong></p>
            <p>Presiona el botón "Tirar" para empezar. La jirafa correrá y el multiplicador aumentará.</p>

            <p><strong>🦁 Evita al León</strong></p>
            <p>El león persigue a la jirafa. Cuanto más tiempo corra, mayor será el multiplicador, ¡pero también el
                riesgo!</p>

            <p><strong>🛑 Decide Cuándo Parar</strong></p>
            <p>Si presionas "Parar" antes de que el león atrape a la jirafa, ganas tu multiplicador. Si el león alcanza
                a la jirafa, pierdes la apuesta.</p>

            <p><strong>🔥 Riesgo Progresivo</strong></p>
            <p>A medida que el multiplicador sube, la probabilidad de que el león atrape a la jirafa aumenta.</p>

            <p><strong>⚠️ Reglas Importantes</strong></p>
            <p>No puedes cancelar una tirada una vez que empieza. Debes decidir estratégicamente cuándo detenerte.</p>

            <a href="https://youtu.be/z0Z2hvp0a_I" target="_blank">
                <h2>Ver Tutorial</h2>
            </a>
        </div>
    </div>

    <footer>
        <a href="https://www.juegoseguro.es">
            <img src="assets/footer/juegasegurocasino.png" alt="Iconos Juego Seguro">
        </a>
        <p>© 2024 Giraffe Royale Casino</p>
        <img src="assets/header/LOGO_GIRAFFE_ROYALE.png" class="logo">
    </footer>
    <script src="scripts/lobby.js"></script>
</body>

</html>