<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/lobby.css">
    <title>lobby</title>
</head>

<body>
    <header id="header">
        <div class="contentenedorVolverMain">

            <a href="https://girafferoyale.vercel.app/">
                <img src="assets/Home.png" class="home">
            </a>

            <a href="https://girafferoyale.vercel.app/">
                <img src="assets/logo giraffe royale.png" class="logo">
            </a>

        </div>

        <h1>GIRAFFE ROYALE</h1>

        <div class="saldo">

            <h1 id="saldo" class="saldo">Saldo:0€</h1>

            <img src="assets/añadir.png" id="añadirSaldo">

        </div>


        <div class="horaYConfi">
            <h1 class="hora" id="hora" class="hora"></h1>
            <img id="configuracion" src="assets/configuracion.png">
        </div>

    </header>
    <section class="cards-container">
        <div class="card">
            <img src="assets/card-tragaperras.png" alt="tragaperras">
           
        </div>
        <div class="card">
            <img src="assets/card-giraffer.png" alt="girafe">
        </div>
        
    </section>
    <footer>
        <a href="https://www.juegoseguro.es">
            <img src="assets/juegasegurocasino.png" alt="Iconos Juego Seguro">
        </a>
        <p>© 2024 Giraffe Royale Casino</p>
        <img src="assets/logo giraffe royale.png" class="logo">
    </footer>
</body>

</html>