<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="assets/crash/logo giraffe royale.png">
    <link rel="stylesheet" href="styles/sf.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/i18next@latest/i18next.min.js"></script>
    <title>Pamplona Rush</title>
</head>

<body>
    <div id="preloader" class="preloader">
        <div class="logo-container">
            <img src="assets/header/LOGO_GIRAFFE_ROYALE.png" class="logo_preloader">
            <div class="shadow"></div>
        </div>
    </div>
    <header id="header">
        <div class="contentenedorVolverMain">
            <a href="/comprobarLobby">
                <img src="assets/header/home.png" class="home">
            </a>
            <a href="/comprobarLobby">
                <img src="assets/header/LOGO_GIRAFFE_ROYALE.png" id="logoHeader" class="logo">
            </a>
        </div>
        <h1 class="titulo">GIRAFFE ROYALE</h1>
        <div class="saldo">
            <h1 id="saldo" class="saldo">Saldo:0€</h1>
            <img src="assets/header/añadir.png" id="añadirSaldo">
        </div>
        <div class="horaYConfi">
            <h1 class="hora" id="hora"></h1>
            <img id="configuracion" src="assets/header/configuracion.png">
        </div>
    </header>

    <section class="contenedorPrincipal">
        <h1 id="multi" class="multiplicador">0.00x</h1>
        <div class="fondo">
            <video id="fondoPamplona" src="../assets/pamplona/fondoJuego_2_2.mp4" loop></video>
        </div>
        <div class="parado" id="correr"></div>

    </section>


    <div class="footerJuego">
        <div class="iconosFoot">
            <div class="btnCreditos-container">
                <button id="creditos" class="creditos">Creditos</button>
            </div>
            <div class="container-footer-nav">
                <div class="navegacionFooterJuego">
                    <img src="assets/pamplona/iconoInformacion.png" id="info" class="icoNavFoot">
                    <p id="creditosTexto">CREDITOS:</p>
                    <p id="creditosTotales" class="creditosApuesta">0</p>
                </div>
                <div class="navegacionFooterJuego">
                    <img src="assets/pamplona/sonido.png" id="sonido" class="icoNavFoot">
                    <p id="apuestaTexto">APUESTA:</p>
                    <p id="apuesta" class="creditosApuesta">20</p>
                </div>
            </div>
        </div>
        <div class="textoTragaperras">
            <h1 id="textoTragaperras">¡TIRE PARA GANAR!</h1>
        </div>
        <div class="contenedorBotones">
            <img src="assets/pamplona/disminuirApuesta.png" id="disminuirApuesta" class="iconoBtn">
            <div class="jugar">
                <img src="../assets/pamplona/botonTirar.png" class="botonTirar" id="botonTirar">
                <img src="../assets/pamplona/historialTiradas.png" id="historialTiradasAbrir" class="iconoBtn">
            </div>
            <img src="../assets/pamplona/aumentarApuesta.png" id="aumentarApuesta" class="iconoBtn">
        </div>
    </div>

    <!-- MODALES -->
    <div id="modalSonidoPantalla" class="modalSonidoPantalla">
        <div id="modalSonido" class="modalSonido">
            <img id="iconoSonidoModal" src="assets/pamplona/sonidoMuteRojo.png">
            <input type="range" id="barraVolumen" class="barraVolumen" min="0" max="100" value="100">
            <span id="valorVolumen" class="valorVolumen">100</span>
        </div>
    </div>

    <div id="modalDepositar" class="modal">
        <div class="contenidoModal">
            <span id="cerrarModalDepositar" class="cerrarModal">&times;</span>
            <div id="depositar" class="depositarYRetirar">
                <h1 id="depositarTitulo">DEPOSITAR</h1>
                <input type="number" id="inputDeposito" class="inputModal"
                    placeholder="Introduce la cantidad que deseas depositar">
                <div class="botonesModal">
                    <button id="depositarBtn" class="botonModal">Depositar</button>
                    <button id="abrirModalRetirar" class="botonModal">Retirar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalRetirar" class="modal">
        <div class="contenidoModal">
            <span id="cerrarModalRetirar" class="cerrarModal">&times;</span>
            <div id="retirar" class="depositarYRetirar">
                <h1 id="retirarTitulo">RETIRAR</h1>
                <input type="number" id="inputRetiro" class="inputModal"
                    placeholder="Introduce la cantidad que deseas retirar">
                <div class="botonesModal">
                    <button id="retirarBtn" class="botonModal">Retirar</button>
                    <button id="abrirModalDepositar" class="botonModal">Depositar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDepositarCreditos" class="modal">
        <div class="contenidoModal">
            <span id="cerrarModalDepositarCreditos" class="cerrarModal">&times;</span>
            <div id="depositarCreditos" class="depositarYRetirar">
                <h1 id="insertarCreditosTitulo">CONVERTIR EUROS A CREDITOS</h1>
                <h1 id="saldoCreditosInfo" class="saldoCreditosInfo">Saldo actual:0€</h1>
                <input type="number" id="inputEurosACreditos" class="inputModal"
                    placeholder="Introduce la cantidad de euros que deseas convertir a creditos">
                <div class="botonesModal">
                    <button id="convertirBtn" class="botonModal">Convertir a creditos</button>
                    <button id="abrirModalRetirarCreditos" class="botonModal">Retirar creditos</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalRetirarCreditos" class="modal">
        <div class="contenidoModal">
            <span id="cerrarModalRetirarCreditos" class="cerrarModal">&times;</span>
            <div id="retirarCreditos" class="depositarYRetirar">
                <h1 id="retirarCreditosTitulo">CONVERTIR CREDITOS A EUROS</h1>
                <h1 id="creditosInfo" class="saldoCreditosInfo">Creditos actuales:0</h1>
                <input type="number" id="inputRetiroCreditos" class="inputModal"
                    placeholder="Introduce la cantidad de creditos que deseas convertir a euros">
                <div class="botonesModal">
                    <button id="retirarCreditosBtn" class="botonModal">Retirar creditos</button>
                    <button id="abrirModalDepositarCreditos" class="botonModal">Convertir euros a creditos</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalError" class="modalError">
        <div class="contenidoModalError">
            <span id="cerrarModalError" class="cerrarModalError">&times;</span>
            <p id="mensajeError" class="mensajeError"></p>
        </div>
    </div>


    <div id="modalAjustes" class="modal">
        <div class="contenidoModal contenidoAjustesModal">
            <span id="cerrarModalAjustes" class="cerrarModalError">&times;</span>
            <h2 id="tituloAjustes">Ajustes</h2>
            <div class="opcionAjustes">
                <h3 id="cambiarIdiomaTexto">Cambiar Idioma A Ingles:</h3>
                <img id="idioma" src="assets/pamplona/iconoIngles.png" alt="Idioma" class="iconoAjustes">
            </div>
            <div class="opcionAjustes">
                <h3 id="textoModoOscuro">Cambiar A Modo Oscuro:</h3>
                <img src="assets/pamplona/modoOscuro.png" id="modoOscuro" alt="Modo Oscuro" class="iconoAjustes">
            </div>
            <div class="opcionAjustes">
                <button class="cerrarSesionBtn">
                    <div class="sign"><svg viewBox="0 0 512 512">
                            <path
                                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                            </path>
                        </svg></div>

                    <a href="/cerrarSesion" id="cerrarSesion" class="text">Cerrar Sesión</a>
                </button>
            </div>
        </div>
    </div>
    <div id="modalVictoria" class="modalVictoria">
        <div class="modalVictoriaContenido">
            <span id="cerrarModalVictoria" class="cerrarModalVictoria">&times;</span>
            <img src="assets/pamplona/premioHeader.png" class="premioHeader">
            <p id="modalVictoriaMensaje" class="mensajeVictoria">PREMIO</p>
            <img src="assets/pamplona/girafaPremios.png" class="girafaPremio">
        </div>
    </div>

    <div id="modalInstrucciones" class="tablaInstrucciones ">
        <span id="cerrarModalInstrucciones" class="cerrarModalError">&times;</span>

        <h2 id="tituloInstrucciones">Instrucciones del Juego</h2>
        <table class="tablaEstilos">
            <tr>
                <th id="reglaColumna">Regla</th>
                <th id="descripcionColumna">Descripción</th>
            </tr>
            <tr>
                <td id="evitaLeonTitulo">Corre por tu vida</td>
                <td id="evitaLeonDescripcion">El toro intentará cogerte. Si lo hace, pierdes el juego.</td>
            </tr>
            <tr>
                <td id="retiraATiempoTitulo">Retira tus Ganancias</td>
                <td id="retirarATiempoDescripcion">Puedes retirar las ganancias en cualquier momento para ganar el
                    multiplicador actual.</td>
            </tr>
            <tr>
                <td id="multiplicadoresInformacionTitulo">Multiplicadores</td>
                <td id="multiplicadoresInformacion">El multiplicador aumenta con el tiempo, pero si esperas
                    demasiado, corres el riesgo de perderlo todo.</td>
            </tr>
        </table>
    </div>
    <!-- Modal para mostrar el historial -->
    <div id="modalHistorial" class="tablaInstrucciones">
        <span id="cerrarModalHistorial" class="cerrarModalError">&times;</span>
        <h2 id="tituloHistorial">HISTORIAL DE TUS ULTIMAS 5 TIRADAS</h2>
        <table class="tablaEstilos">
            <thead>
                <tr>
                    <th id="historialApuesta">Apuesta</th>
                    <th id="historialMulti">Multiplicador</th>
                    <th id="historialResultado">Creditos obtenidos</th>
                </tr>
            </thead>
            <tbody id="tablaHistorialBody">
                <!-- Las filas se agregarán dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
    <script src="scripts/sf.js"></script>
</body>

</html>