@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --primary-color: #7a9c2e;
    --secundary-color: #FFFFFF;
    --dark-bg-color: #1a1a1a;

}

* {

    box-sizing: border-box;
    cursor: url('../assets/crash/cursor.png'), auto;

}

a {
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
}

/* General body styling */
body {
    overflow-x: hidden;
    font-family: 'Lilita One';
    background-color: var(--primary-color);
    color: var(--secundary-color);
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100vh;
    cursor: url('../assets/crash/cursor.png'), auto;


}

/*SCROLL*/
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #003049;

}

body::-webkit-scrollbar-thumb {

    background: linear-gradient(180deg, #fdde89, #f86b0c);
    border-radius: 10px;
    border: 1px solid #003049;
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7a9c2e;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-size: cover;
    background-position: center bottom;
}

/* Contenedor del logo */
.logo-container {
    position: relative;
    animation: bounce 5s infinite ease-in-out;
}

/* Logo animado */
.logo_preloader {
    width: 250px;
    /* Tamaño del logo */
    animation: bounce 5s infinite ease-in-out;
}

/* Sombra animada */
.shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    animation: shadow 5s infinite ease-in-out;
}

/* Animación de rebote del logo */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

/* Animación de la sombra */
@keyframes shadow {

    0%,
    100% {
        width: 150px;
        opacity: 0.2;
    }

    50% {
        width: 200px;
        opacity: 0.5;
    }
}



/* ----------------HEADER---------------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), url("../assets/header/header.jpg");
    background-size: cover;
    max-width: 100%;
    padding: 0 5%;

}

.contentenedorVolverMain {
    display: flex;
    align-items: center;

}

.home {
    width: 7vw;
    height: auto;
    margin-right: 2vw;
    cursor: url('../assets/crash/cursorPointer.png'), pointer;

}

.logo {
    width: 5vw;
    height: 10vh;
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
}

h1 {
    font-family: 'Lilita One';
    font-size: 2vw;
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;
    text-align: center;
}

.encabezadoTitulo {
    font-family: 'Lilita One';
    font-size: 3vw;
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;
    text-align: center;
}

.hora {
    font-family: 'Lilita One';
    font-size: 1.5vw;
    max-width: 100%;
    width: 90%;
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;

}

.saldo {
    display: flex;
    align-items: center;
}

.saldo img {
    width: 2vw;
    height: 4vh;
    margin-left: 2%;
    transition: transform 0.3s ease, filter 0.3s ease;

}

.saldo img:hover {

    cursor: url('../assets/crash/cursorPointer.png'), pointer;
    transform: scale(1.1);
    filter: brightness(1.3);

}

.saldo p {
    font-family: 'Lilita One';
    font-size: 1.5vw;
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;
}

.horaYConfi {
    display: flex;
    align-items: center;
    padding: 0 2%;
    width: 15%;

}

.horaYConfi img {
    margin-left: 10%;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.horaYConfi img:hover {
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
    transform: scale(1.1);
    filter: brightness(1.3);
}

.horaYConfi img,
.icono {
    width: 2vw;
    height: 4vh;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-bottom: 3%;
    margin-top: 3%;

}


.ajustesModal {
    display: none;
}

.depositarYRetirar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    width: 100%;
    height: 100%;
}

.saldoCreditosInfo {
    font-size: 1.5vw;
    margin: 1%;
}

/* -------------------SECCION PRINCIPAL------------------- */

.cards-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3.5rem;
    width: 50%;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

.cartas-vip {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3.5rem;
    width: 70%;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.247);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 500px;

}

.card img {
    width: 100%;
    border-radius: 20px;
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
    height: 100%;
}

.card img#tragaperras {
    transition: background-image 0.3s ease-in-out;

}

.card img#tragaperras:hover {
    content: url("../assets/lobby/Tragaperras.gif");
    height: 100%;
}

.card img#giraffeRush {
    transition: background-image 0.3s ease-in-out;

}

.card img#giraffeRush:hover {
    content: url("../assets/lobby/GiraffeRush.gif");
    height: 100%;
}

.card img#pamplonaRush {
    transition: background-image 0.3s ease-in-out;

}

.card img#pamplonaRush:hover {
    content: url("../assets/lobby/Pamplona.gif");
    height: 100%;
}



.card-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    color: white;
    text-align: center;
    padding: 5%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    justify-content: flex-end;
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
}

.card-overlay img {
    width: 15%;
}

.card-overlay img:hover {


    cursor: url('../assets/crash/cursorPointer.png'), pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.card:hover {
    box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.8);
}


.play-button {
    background: linear-gradient(45deg, #ffcc00, #ff6600);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.play-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(255, 165, 0, 0.9);
}

/* -------------------------MODALES----------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.326);
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    transition: backdrop-filter 0.3s ease-in-out;
}

/* Estilo para el contenido del modal */
.contenidoModal {
    background-image: url("../assets/crash/fondo\ modal.jpg");
    background-size: cover;
    background-position: center top;
    padding: 2%;
    padding-top: 0;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    border: 3px solid #3A5A40;

}


/* BOTON DE CIERRE MODAL */
.cerrarModal {
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 2rem;
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
    font-family: 'Lilita One';
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;
}

.botonesModal {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inputModal {
    width: 100%;
    text-align: center;
}

.inputModal::placeholder {
    text-align: center;
    color: #003049;

}

.inputModal:focus {
    outline: 2px solid #F4A261;
    box-shadow: 0 0 8px rgba(244, 162, 97, 0.5), 0 0 12px rgba(244, 162, 97, 0.3);
    transition: outline-color 0.3s ease, box-shadow 0.3s ease;
}

/*ELIMINA LAS FLECHAS DEL INPUT NUMERICO*/
.inputModal::-webkit-outer-spin-button,
.inputModal::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.botonModal {
    width: 40%;
}

/* Button styling */
.botonModal,
.inputModal {
    font-family: 'Lilita One';
    background-color: #FFCB77;
    color: #003049;
    padding: 0.8rem 1.5rem;
    border: 2px solid #003049;
    border-radius: 5px;
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
    transition: all 0.3s ease;
    margin-top: 2%;
    -webkit-text-stroke: 0;

}

.botonModal:hover,
.inputModal:hover {
    background-color: #F4A261;

}

.modalInfo {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    /* Efecto de desenfoque */
    background: rgba(0, 0, 0, 0.326);
    /* Oscurecimiento ligero */
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    transition: backdrop-filter 0.3s ease-in-out;

}

.modalInfo h2 {
    color: #ffcc80;
    margin-bottom: 10px;
    -webkit-text-stroke: 0.15vh #003049;
}

.modalInfo p {
    color: white;

    line-height: 1.6;
    margin-bottom: 10px;
    -webkit-text-stroke: 0.15vh #003049;
}

.contenidoModalInfo {
    background-image: linear-gradient(to bottom, #F86B0C, #bd9013);
    backdrop-filter: blur(20px);
    /* Efecto de desenfoque */
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
    text-align: left;
    overflow-y: auto;
    line-height: 1.6;
    max-height: 80vh;
}

.contenidoModalInfo::-webkit-scrollbar {
    width: 12px;
}

.contenidoModalInfo::-webkit-scrollbar-track {
    background: #003049;
}

.contenidoModalInfo::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #F86B0C, #bd9013);
    border-radius: 10px;
    border: 1px solid #003049;
}


/* Estilo del Modal de Error */
.modalError {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

/* Contenido del Modal de Error */
.contenidoModalError {
    background-image: linear-gradient(to top right, #F86B0C, #bd9013);
    color: #003049;
    border: 5px solid #3A5A40;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    width: 30%;
    text-align: center;
    position: relative;
}


#mensajeError {
    font-family: 'Lilita One', sans-serif;
    font-size: 1.5vw;
    margin-bottom: 1rem;
    color: #FFFFFF;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}


.cerrarModalError {
    position: fixed;
    top: 11px;
    right: 14px;
    font-size: 3rem;
    color: #FFFFFF;
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
    transition: color 0.3s ease;
}

.cerrarModalError:hover {
    color: #000000;
}

.contenidoAjustesModal {
    background-image: linear-gradient(to bottom right, #F86B0C, #FDDE89);

}

/* Estilo para los encabezados del modal de ajustes */
.contenidoAjustesModal h2 {
    font-family: 'Lilita One', sans-serif;
    font-size: 2.2vw;
    color: #FDF0D5;
    -webkit-text-stroke: 0.15vh #003049;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.contenidoAjustesModal h3 {
    font-family: 'Lilita One';
    font-size: 1.6vw;
    color: #EAE2B7;
    -webkit-text-stroke: 0.1vh #003049;
    padding: 0.4rem;
    margin-bottom: 1rem;
}


/*BOTON CERRAR SESION PANEL DE CONFIGURACION*/
.cerrarSesionBtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
    margin: 4% 0;
}


.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.opcionAjustes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cerrarSesionBtn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.cerrarSesionBtn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}


.cerrarSesionBtn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}


.cerrarSesionBtn:active {
    transform: translate(2px, 2px);
}

.cerrarSesionBtn a {
    text-decoration: none;
}


/* Animación de aparición del modal */
.modalError .contenidoModalError,
.modal .contenidoModal,
.modalSonido,
.modalVictoria {
    animation: aparecerModal 0.5s ease-out forwards;
}

/* Animación de entrada */
@keyframes aparecerModal {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.icono,
.iconoAjustes {
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
    transition: transform 0.3s ease, filter 0.3s ease;

}

.iconoAjustes {
    width: 2vw;
    margin: 4% 0;
}

.icono:hover,
.iconoAjustes:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
    /* Incrementa el brillo */
}

.modo-oscuro {
    filter: grayscale(1) brightness(0.8) contrast(1);
    background-color: var(--dark-bg-color);
    cursor: url('../assets/crash/cursorDarkMode.png'), auto;

}

/* Estilos para el scroll en modo oscuro */
.modo-oscuro::-webkit-scrollbar-track {
    background: #333333;
    /* Fondo más oscuro para el track */
}

.modo-oscuro::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #555555, #888888);
    /* Gradiente más oscuro para el thumb */
    border: 1px solid #444444;
    /* Borde más oscuro */
}

.modo-oscuro .saldo img:hover,
.modo-oscuro .horaYConfi img:hover,
.modo-oscuro .cerrarModal,
.modo-oscuro .botonModal,
.modo-oscuro .inputModal,
.modo-oscuro .cerrarModalError,
.modo-oscuro .icono,
.modo-oscuro .cerrarModalVictoria,
.modo-oscuro .modalSonido img:hover,
.modo-oscuro .barraVolumen::-webkit-slider-thumb,
.modo-oscuro .iniciarTiradas,
.modo-oscuro .cerrarModalTiradas,
.modo-oscuro .barraTiradas::-webkit-slider-thumb,
.modo-oscuro .creditos,
.modo-oscuro .botonTirar,
.modo-oscuro .footer a img {

    cursor: url('../assets/crash/cursorPointerDark.png'), pointer;

}

/* --------------FOOTER--------------- */

footer {
    display: flex;
    align-items: center;
    background-color: rgba(17, 40, 24, 1);
    width: 100%;
    padding: 1% 0;
    position: relative;
    min-height: 60px;
    z-index: 10;
    margin-top: auto;
    color: #FDF0D5;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;

}

footer a img {
    width: 40%;
    height: auto;
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
}


@media (max-width: 768px) {

    h1 {
        font-size: 4.5vh;
    }

    /* ----------------HEADER---------------- */
    header {
        align-items: center;
        text-align: center;
        padding: 1vh 0;
        background-size: cover;
        background-position: center;
    }

    .home {
        width: 8vh;
        height: auto;
    }

    .contentenedorVolverMain {

        align-items: center;
        width: 100%;

    }

    .saldo {
        justify-content: center;

        font-size: 3vh;
        width: 25vh;

    }

    .saldo img {
        width: 6vw;
        height: auto;
    }

    .horaYConfi {
        width: 100%;
        justify-content: center;
        gap: 10px;

    }

    .hora {
        font-size: 4.5vw;
        display: none;
    }

    .horaYConfi img {
        width: 10vw;
        height: auto;
        margin-left: 3vh;
    }

    #logoHeader {
        display: none;
    }

    .logo {
        width: auto;
        margin-right: 2vh;
    }

    .titulo {
        display: none;
    }

    /* ----------------SECCIÓN PRINCIPAL---------------- */

    .encabezadoTitulo {
        font-family: 'Lilita One';
        font-size: 5vh;
        background: linear-gradient(180deg, #fdde89, #f86b0c);
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: 0.10vh #003049;
        text-align: center;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .cartas,
    .cartas-vip {
        gap: 3.5rem;
        width: 90%;
        padding: 5%;
    }

    .card {
        border-radius: 15px;
    }

    .card img {
        border-radius: 15px;
    }

    .play-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    /* -----------------MODALES----------------- */
    .contenidoModal,
    .contenidoModalError {
        width: 90%;
        padding: 5%;
    }

    .botonesModal {
        flex-direction: column;
        align-items: center;
    }

    .botonModal {
        width: 100%;
        font-size: 1rem;
    }

    #mensajeError {
        font-size: 4vw;
    }

    .contenidoAjustesModal {
        background-image: linear-gradient(to bottom right, #F86B0C, #FDDE89);
        width: 70% !important;
    }

    .contenidoAjustesModal h2 {
        font-family: 'Lilita One', sans-serif;
        font-size: 3.5vh;
        color: #FDF0D5;
        -webkit-text-stroke: 0.15vh #003049;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .contenidoAjustesModal h3 {
        font-family: 'Lilita One';
        font-size: 3vh;
        color: #EAE2B7;
        -webkit-text-stroke: 0.1vh #003049;
        padding: 0.4rem;
        margin-bottom: 1rem;
    }

    .opcionAjustes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .iconoAjustes {
        width: 15%;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    /* -----------------FOOTER----------------- */
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2%;
    }

    footer a img {
        width: 60%;
    }
}