@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
}

:root {
    --primary-color: #7a9c2e;
    --secundary-color: #FFFFFF;
    --dark-bg-color: #1a1a1a;

}

a {
    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
}

/*---------------------------HEADER----------------------------*/

body {
    overflow-x: hidden;
    font-family: 'Lilita One';
    background-color: rgb(61 78 23);
    color: var(--secundary-color);
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100vh;
    cursor: url('../assets/pamplona/cursor.png'), auto;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7a9c2e;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-size: cover;
    background-position: center bottom;
}

/* Contenedor del logo */
.logo-container {
    position: relative;
    animation: bounce 5s infinite ease-in-out;
}

/* Logo animado */
.logo_preloader {
    width: 250px;
    /* Tamaño del logo */
    animation: bounce 5s infinite ease-in-out;
}

/* Sombra animada */
.shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    animation: shadow 5s infinite ease-in-out;
}

/* Animación de rebote del logo */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

/* Animación de la sombra */
@keyframes shadow {

    0%,
    100% {
        width: 150px;
        opacity: 0.2;
    }

    50% {
        width: 200px;
        opacity: 0.5;
    }
}

.contentenedorVolverMain {
    display: flex;
    align-items: center;

}

.home {
    width: 7vw;
    height: auto;
    margin-right: 2vw;

}

.logo {
    width: 5vw;
    height: 10vh;
}

h1 {
    font-family: 'Lilita One';
    font-size: 2vw;
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;

}

.hora {
    font-family: 'Lilita One';
    font-size: 1.5vw;
    max-width: 100%;
    width: 90%;
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;

}

.saldo {
    display: flex;
    align-items: center;
}

.saldo img {
    width: 2vw;
    height: 4vh;
    margin-left: 2%;
    transition: transform 0.3s ease, filter 0.3s ease;

}

.saldo img:hover {

    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
    transform: scale(1.1);
    filter: brightness(1.3);

}

.saldo p {
    font-family: 'Lilita One';
    font-size: 1.5vw;
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;
}

.horaYConfi {
    display: flex;
    align-items: center;
    padding: 0 2%;
    width: 15%;

}

.horaYConfi img {
    margin-left: 10%;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.horaYConfi img:hover {
    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
    transform: scale(1.1);
    filter: brightness(1.3);
}

.horaYConfi img,
.icono,
.iconoBtn,
.icoNavFoot {
    width: 2vw;
    height: 4vh;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-bottom: 3%;
    margin-top: 3%;

}

.ajustesModal {
    display: none;
}

.depositarYRetirar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    width: 100%;
    height: 100%;
}

.saldoCreditosInfo {
    font-size: 1.5vw;
    margin: 1%;
}

.tablaInstrucciones {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.326);
    justify-content: center;
}

.tablaInstrucciones h2 {
    font-family: 'Lilita One';
    font-size: 2.2vw;
    color: #fdf0d5;
    -webkit-text-stroke: 0.15vh #003049;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.tablaEstilos {
    width: 60%;
    border-collapse: collapse;
    background-color: #f2d7c3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;

}

.tablaEstilos th,
.tablaEstilos td {
    padding: 1rem;
    text-align: center;
    font-family: 'Lilita One';
    color: #003049;
    width: 20%;

}

.tablaEstilos th {
    background-color: #3a5a40;
    color: #f4a261;
    -webkit-text-stroke: 0.10vh #003049;
    font-size: 1.5vw;
    position: relative;
}

.tablaEstilos tr:nth-child(even) {
    background-color: #eae2b7;
}

.tablaEstilos tr:nth-child(odd) {
    background-color: #f4a261;
}

.tablaEstilos td {
    font-size: 1.3vw;
}


/* Animación de entrada de la tabla */
/* .tablaInstrucciones {
    animation: fadeIn 0.5s ease-out;
} */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.326);
    align-items: center;
    justify-content: center;
}

/* Estilo para el contenido del modal */
.contenidoModal {
    background-image: url("../assets/pamplona/fondo_modal.jpg");
    background-size: cover;
    background-position: center top;
    padding: 2%;
    padding-top: 0;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    border: 3px solid #3A5A40;

}

/* BOTON DE CIERRE MODAL */
.cerrarModal {
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 2rem;
    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
    font-family: 'Lilita One';
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;
}

.botonesModal {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inputModal {
    width: 100%;
    text-align: center;
}

.inputModal::placeholder {
    text-align: center;
    color: #003049;

}

.inputModal:focus {
    outline: 2px solid #F4A261;
    box-shadow: 0 0 8px rgba(244, 162, 97, 0.5), 0 0 12px rgba(244, 162, 97, 0.3);
    transition: outline-color 0.3s ease, box-shadow 0.3s ease;
}

/*ELIMINA LAS FLECHAS DEL INPUT NUMERICO*/
.inputModal::-webkit-outer-spin-button,
.inputModal::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.botonModal {
    width: 40%;
}

/* Button styling */
.botonModal,
.inputModal {
    font-family: 'Lilita One';
    background-color: #FFCB77;
    color: #003049;
    padding: 0.8rem 1.5rem;
    border: 2px solid #003049;
    border-radius: 5px;
    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
    transition: all 0.3s ease;
    margin-top: 2%;
    -webkit-text-stroke: 0;

}

.botonModal:hover,
.inputModal:hover {
    background-color: #F4A261;

}

/* Estilo del Modal de Error */
.modalError {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.326);
    align-items: center;
    justify-content: center;
}

/* Contenido del Modal de Error */
.contenidoModalError {
    background-image: linear-gradient(to bottom right, #F86B0C, #FDDE89);
    color: #003049;
    border: 5px solid #3A5A40;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    width: 30%;
    text-align: center;
    position: relative;
}


#mensajeError {
    font-family: 'Lilita One', sans-serif;
    font-size: 1.5vw;
    margin-bottom: 1rem;
    color: #FFFFFF;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}


.cerrarModalError {
    position: absolute;
    top: 11px;
    right: 14px;
    font-size: 1.5rem;
    color: #FFFFFF;
    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
    transition: color 0.3s ease;
}

.cerrarModalError:hover {
    color: #F4A261;
}

.contenidoAjustesModal {
    background-image: linear-gradient(to bottom right, #F86B0C, #FDDE89);

}

/* Estilo para los encabezados del modal de ajustes */
.contenidoAjustesModal h2 {
    font-family: 'Lilita One', sans-serif;
    font-size: 2.2vw;
    color: #FDF0D5;
    -webkit-text-stroke: 0.15vh #003049;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.contenidoAjustesModal h3 {
    font-family: 'Lilita One';
    font-size: 1.6vw;
    color: #EAE2B7;
    -webkit-text-stroke: 0.1vh #003049;
    padding: 0.4rem;
    margin-bottom: 1rem;
}

/*BOTON CERRAR SESION PANEL DE CONFIGURACION*/
.cerrarSesionBtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: url('../assets/crash/cursorPointer.png'), pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
    margin: 4% 0;
}


.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.opcionAjustes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cerrarSesionBtn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.cerrarSesionBtn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}


.cerrarSesionBtn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}


.cerrarSesionBtn:active {
    transform: translate(2px, 2px);
}

.cerrarSesionBtn a {
    text-decoration: none;
}

/* Animación de aparición del modal */
.modalError .contenidoModalError,
.modal .contenidoModal,
.modalSonido,
.modalVictoria {
    animation: aparecerModal 0.5s ease-out forwards;
}

/* Animación de entrada */
@keyframes aparecerModal {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.icono,
.iconoBtn,
.icoNavFoot,
.iconoAjustes {
    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
    transition: transform 0.3s ease, filter 0.3s ease;

}

.icono:hover,
.iconoBtn:hover,
.icoNavFoot:hover,
.iconoAjustes:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
    /* Incrementa el brillo */
}

.container-footer-nav {
    width: 50%;
}


/* Estilos para el scroll en modo oscuro */
.modo-oscuro::-webkit-scrollbar-track {
    background: #333333;
    /* Fondo más oscuro para el track */
}

.modo-oscuro::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #555555, #888888);
    /* Gradiente más oscuro para el thumb */
    border: 1px solid #444444;
    /* Borde más oscuro */
}

.modo-oscuro .saldo img:hover,
.modo-oscuro .horaYConfi img:hover,
.modo-oscuro .cerrarModal,
.modo-oscuro .botonModal,
.modo-oscuro .inputModal,
.modo-oscuro .cerrarModalError,
.modo-oscuro .icono,
.modo-oscuro .cerrarModalVictoria,
.modo-oscuro .modalSonido img:hover,
.modo-oscuro .barraVolumen::-webkit-slider-thumb,
.modo-oscuro .iniciarTiradas,
.modo-oscuro .cerrarModalTiradas,
.modo-oscuro .barraTiradas::-webkit-slider-thumb,
.modo-oscuro .creditos,
.modo-oscuro .botonTirar,
.modo-oscuro .footer a img {

    cursor: url('../assets/pamplona/cursorPointerDark.png'), pointer;

}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), url("../assets/header/header.jpg");
    background-size: cover;
    max-width: 100%;
    padding: 0 5%;

}


i {
    cursor: pointer;
}

.parado {

    width: 100px;
    height: 170px;
    background-image: url("../assets/pamplona/parado.png");
    margin: 0 auto;
    z-index: 999;
    position: absolute;
    top: 45%;
    left: 45%;
}

.pillada {
    width: 300px;
    height: 170px;
    background-image: url("../assets/pamplona/pillada1.png");
    margin: 0 auto;
    z-index: 999;
    position: absolute;
    top: 45%;
    left: 40%;
}


.personaje {
    width: 300px;
    height: 170px;
    background-image: url("../assets/pamplona/cr.png");
    margin: 0 auto;
    z-index: 999;
    position: absolute;
    top: 45%;
    left: 40%;
    animation: correr 2.5s steps(8) infinite;
}

@keyframes correr {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -2400px;
    }
}

.fondo {
    display: flex;
    align-items: center;
    justify-content: center;
}



video {
    width: 100%;
    border: none;
}


.multiplicador {
    display: none;
    position: absolute;
    font-size: 60px;
    left: 43%;
    color: rgba(0, 0, 0, 0.849);
    text-shadow: #fffdfd 2px 2px 2px;
    display: none;
}


/* Estilo general del modal */
.modalVictoria {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;

}


.modalVictoriaContenido {
    background-color: #000000d0;
    padding: 2%;
    padding-top: 0;
    border-radius: 13px;
    width: 30%;
    height: 45%;
    text-align: center;
}

.modalVictoriaContenido img {
    max-width: 100%;

}

.premioHeader {
    position: absolute;
    width: 20vw;
    top: 25%;
    left: 40.5%;
    transform: translateX(-50%);
    animation: crecerReducir 1s infinite;

}

.girafaPremio {
    height: 18vh;
    animation: crecerReducir 1s infinite;
    padding-bottom: 2%;
}

.mensajeVictoria {
    margin-top: 20%;
    margin-bottom: 10%;
    font-size: 2rem;
    font-weight: bold;
    color: #ffd700;
    text-align: center;
    text-shadow: 2px 2px 8px #ff4500, 0 0 15px #ff8c00;
    animation: crecerReducir 1s infinite;
}

.cerrarModalVictoria {
    position: absolute;
    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
    width: 3vw;
    right: 35%;
    top: 29%;
}

/* Animación de crecimiento */
@keyframes crecerReducir {

    0%,
    100% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.1);

    }
}



/* Animación de entrada */
@keyframes zoomIn {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.footerJuego {
    margin-top: auto;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.modalSonido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: 30%;
    right: 70%;
    padding: 1%;
    border-radius: 10px;

}

.modalSonidoPantalla {
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
}

.modalSonido img {
    width: 10%;
    transition: transform 0.3s ease, filter 0.3s ease;

}


.modalSonido img:hover {
    transform: scale(1.2);
    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
}

.barraVolumen {
    appearance: none;
    background: var(--primary-color);
    border-radius: 5px;
    height: 1vh;

}

.barraVolumen::-webkit-slider-thumb {

    -webkit-appearance: none;
    appearance: none;
    width: 1vw;
    height: 2vh;
    background: var(--primary-color);
    border-radius: 50%;
    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
    border: 1px solid #fff;

}

/* Estilo para el thumb cuando está en mute */
.barraVolumen.mute,
.mute::-webkit-slider-thumb {
    background: #c30a0a;

}


.valorVolumen {
    display: inline-block;
    width: 2.5em;
    text-align: center;
    font-size: 1em;
    color: white;
}

.creditos {
    text-align: center;
    background-color: var(--secundary-color);
    font-family: 'Lilita One';
    font-size: 1vw;
    color: #000000;
    border-radius: 30px;
    border: none;
    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
    width: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-bottom: 5%;

}

.creditos:hover {
    transform: scale(1.2);
    filter: brightness(1.1);

}

.btnCreditos-container {
    width: 50%;
}

.navegacionFooterJuego {
    width: 50%;
    display: flex;
    color: #f6af31;
    align-items: center;
}

.navegacionFooterJuego p {
    color: #f6af31;
    padding-left: 15%;
}


.creditosApuesta {
    color: var(--secundary-color) !important;
    width: 100%;
    padding-left: 4% !important;
}


.contenedorBotones {
    display: flex;
    width: 33%;
    justify-content: center;
    height: 100%;
    align-items: center;

}

.jugar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cantidadTiradas {
    display: none;
}

.botonTirar {
    width: 8vw;
    padding: 1vh 1vw;
    transition: transform 0.3s ease, filter 0.3s ease;
    max-height: 100%;

}

.iconos {
    width: 33%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.iconosFoot {
    width: 33%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textoTragaperras {
    width: 33%;
    display: flex;
    text-align: center;

}

.textoTragaperras h1 {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--secundary-color);
}

.botonTirar:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}



.botonTirar:hover {
    cursor: url('../assets/pamplona/cursorPointer.png'), pointer;
}

.iconoAjustes {
    width: 30%;
}

/* Responsive adjustments */
@media (max-width: 768px) {

    /* ----------------HEADER---------------- */
    header {
        /* flex-direction: column; */
        align-items: center;
        text-align: center;
        padding: 1vh 0;
        background-size: cover;
        background-position: center;
    }

    .home {
        width: 8vh;
        height: auto;
        /* margin-right: 2vw; */
    }

    .contentenedorVolverMain {
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        /* gap: 10px; */
    }

    .saldo {
        justify-content: center;
        /* gap: 10px; */
        font-size: 3vh;
        width: 25vh;
        /* margin: -2vh; */
    }

    .saldo img {
        width: 6vw;
        height: auto;
    }

    .horaYConfi {
        width: 100%;
        justify-content: center;
        gap: 10px;

    }

    .hora {
        font-size: 4.5vw;
        display: none;
    }

    .horaYConfi img {
        width: 10vw;
        height: auto;
        margin-left: 3vh;
    }

    .logo {
        width: auto;
    }

    .titulo {
        display: none;
    }

    h1,
    .encabezadoTitulo {
        font-size: 6vw;

    }

    video {
        width: 140vh;
        border: none;
    }


    .parado {
        width: 100px;
        height: 170px;
        background-image: url(../assets/pamplona/parado.png);
        margin: 0 auto;
        z-index: 999;
        position: absolute;
        top: 25%;
        left: 35%;
    }

    .personaje {
        width: 300px;
        height: 170px;
        background-image: url(../assets/pamplona/cr.png);
        margin: 0 auto;
        z-index: 999;
        position: absolute;
        top: 25%;
        left: 5%;
        animation: correr 2.5s steps(8) infinite;
    }

    .pillada {
        width: 300px;
        height: 170px;
        background-image: url("../assets/pamplona/pillada1.png");
        margin: 0 auto;
        z-index: 999;
        position: absolute;
        top: 25%;
        left: 20%;
    }

    .botonTirar {
        width: 25vh;
        padding: 1vh 1vw;
        transition: transform 0.3sease, filter 0.3sease;
        max-height: 100%;
    }

    .multiplicador {
        display: none;
        position: absolute;
        font-size: 60px;
        left: 35%;
        color: rgba(0, 0, 0, 0.849);
        text-shadow: #fffdfd 2px 2px 2px;
        display: none;
    }



    .modalSonido {
        width: 80%;
        right: 10%;
        bottom: 10%;
    }

    .footerJuego {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icono {
        width: 90%;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .iconoBtn {
        width: 5vh;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .icoNavFoot {
        width: 20%;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .iconosFoot {
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .container-footer-nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .btnCreditos-container {
        width: 80%;

    }


    .navegacionFooterJuego {
        width: 80%;
        display: flex;
        color: #f6af31;
        align-items: center;
        justify-content: center;
    }

    .creditos {
        text-align: center;
        background-color: var(--secundary-color);
        font-family: 'Lilita One';
        font-size: 2vh;
        color: #000000;
        border-radius: 30px;
        border: none;
        cursor: url(../assets/pamplona/cursorPointer.png), pointer;
        width: 100%;
        transition: transform 0.3sease, filter 0.3sease;
        margin-bottom: 5%;
        height: 3vh;
    }

    .creditosApuesta {
        width: auto;
    }

    .textoTragaperras {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 2vh;
    }

    .textoTragaperras h1 {
        width: 100%;
        height: 100%;
        text-align: center;
        color: var(--secundary-color);
        font-size: 3vh;
    }

    .contenedorBotones {
        display: flex;
        width: 5vh;
        justify-content: center;
        height: 100%;
        align-items: center;
        margin-top: 2vh;
    }

    .botonTirar {
        width: 15vh;
        padding: 1vh 1vw;
        transition: transform 0.3sease, filter 0.3sease;
        max-height: 100%;
    }

    .navegacionFooterJuego p {
        padding-left: 5%;
    }

    /* MODALES */

    .tablaInstrucciones h2 {
        font-family: 'Lilita One';
        font-size: 4vh;
        color: #fdf0d5;
        -webkit-text-stroke: 0.15vh #003049;
        padding: 0.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .tablaEstilos {
        width: 95%;
        height: 40%;
        border-collapse: collapse;
        background-color: #f2d7c3;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
    }

    .tablaEstilos th {
        background-color: #3a5a40;
        color: #f4a261;
        -webkit-text-stroke: 0.10vh #003049;
        font-size: 3vh;
        position: relative;
    }

    .tablaEstilos td {
        font-size: 2vh;
    }

    .contenidoModal {
        background-image: url(../assets/pamplona/fondo_modal.jpg);
        background-size: cover;
        background-position: center top;
        padding: 2%;
        padding-top: 7%;
        border-radius: 10px;
        width: 95%;
        text-align: center;
        border: 3px solid #3A5A40;
    }

    .contenidoModalError {
        background-image: linear-gradient(to bottom right, #F86B0C, #FDDE89);
        color: #003049;
        border: 5px solid #3A5A40;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding: 2rem;
        width: 90%;
        text-align: center;
        position: relative;
    }

    #mensajeError {
        font-family: 'Lilita One', sans-serif;
        font-size: 3.1vh;
        margin-top: 1rem;
        color: #FFFFFF;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    }

    .saldoCreditosInfo {
        font-size: 3.4vh;
        margin: 1%;
    }

    .contenidoAjustesModal {
        background-image: linear-gradient(to bottom right, #F86B0C, #FDDE89);
        width: 70% !important;
    }

    .contenidoAjustesModal h2 {
        font-family: 'Lilita One', sans-serif;
        font-size: 3.5vh;
        color: #FDF0D5;
        -webkit-text-stroke: 0.15vh #003049;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .contenidoAjustesModal h3 {
        font-family: 'Lilita One';
        font-size: 3vh;
        color: #EAE2B7;
        -webkit-text-stroke: 0.1vh #003049;
        padding: 0.4rem;
        margin-bottom: 1rem;

    }




}